mixin Feature(config) 
  .row.flex-center
    .col-md-6(class=`${config.order}`)
      img(src=`${CWD}assets/img/gallery/${config.image}`   alt='...')
    .col-md-6
      h1.fs-6.card-title.my-4!=config.title
      p.fs-1!=config.text
      a.stretched-link(href='#!') Experienced team