mixin InfoText(config) 
  .row.justify-content-center
    .col-md-4(class=`${config.order}`)
      img.img-fluid(src=`${CWD}assets/img/gallery/${config.imageOne}` alt='...')  
    .col-md-8
      .offset-lg-1
        h1.card-title.my-4!=config.title
        p.fs-1!=config.text
      .text-start.mt-5
        img.img-fluid(src=`${CWD}assets/img/gallery/${config.imageTwo}` alt='...')