mixin InfoText(config) 
  .row.justify-content-center
    .col-md-4(class=`${config.order}`)
      img.img-fluid(src=`${CWD}assets/img/gallery/${config.imageOne}` alt='...')  
    .col-md-8
      .ps-lg-8
        h1.fs-lg-6.my-4!=config.title
        p.fs-1!=config.text
      .text-start.mt-5.d-none.d-md-block
        img.img-fluid(src=`${CWD}assets/img/gallery/${config.imageTwo}` alt='...')