mixin DesignIdeas
  section#designIdeas
    .container
      +Background({ image: `${CWD}assets/img/gallery/design-concept-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: ' z-index--1' })
      .row 
        .col-md-9.col-lg-7.p-7
          h5 DESIGN IDEAS
          h5.fw-bold.fs-3.fs-xxl-7  Stunning web design ideas for your studio website
          p.pe-xl-9 Creating a website for your business can be a big challenge; it’s a lot of pressure to design the best reflection of your company, digitally. 
      .row
        .col-md-6.px-7
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-1.png` alt='...')
            .flex-1  
              h5 Developing websites
              p Web development is the work involved in developing a Web site for the Internet or an intranet.
        .col-md-6.px-7.py-3
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-2.png` alt='...')
            .flex-1  
              h5 Design concept
              p The principles of design are the rules a designer must follow to create an effective and attractive composition.
  
        .col-md-6.px-7.py-3
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-2.png` alt='...')
            .flex-1  
              h5 Effective and evolving design
              p The Impression your website makes directly reflects the competency of your business.

        .col-md-6.px-7.py-3
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-1.png` alt='...')
            .flex-1  
              h5 Appealing to your audience
              p The most important part of building a brand and website is keeping your target audience in mind. 
      .row.px-lg-7 
        .col-12.py-3
          h5.fw-bold.fs-3.fs-lg-4.lh-sm.mb-5  3 Basic Principles Of Design
        .col-md-4.mb-5.mb-md-0
          .card.card-span.shadow.h-100.pt-4
            .card-body
              .px-2
                h3 Typography
                p typography design is the art of arranging a message in a readable and aesthetically pleasing composition.
            .card-footer.bg-white.py-3
              a(href='#!') Experienced team
        .col-md-4.mb-5.mb-md-0  
          .card.card-span.shadow.h-100.pt-4
            .card-body
              .px-2
                h3 Hierarchy 
                p Hierarchy is a visual design principle which designers use to show the importance of each page/screen's contents by manipulating these characteristics: Size – Users notice larger elements more easily. Color – Bright colors typically attract more attention than muted ones.
            .card-footer.bg-white.py-3
              a(href='#!') Experienced team    
        .col-md-4.mb-5.mb-md-0  
          .card.card-span.shadow.h-100.pt-4
            .card-body
              .px-2
                h3 Colors
                p Color is used to attract attention, group related elements, convey meaning, and generally enhance the aesthetics of your site.
            .card-footer.bg-white.py-3
              a(href='#!') Experienced team    