mixin Design
  section
    .container
      +Background({ image: `${CWD}assets/img/gallery/design-concept-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: ' z-index--1' })
      .row 
        .col-md-7.p-7
          h5 DESIGN CONCEPT
          h5.fw-bold.fs-3.fs-lg-5.fs-xxl-7 The best design for your
            br
            |studio website
          p.pe-xl-9 Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada a, duis volutpat. Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada a, duis volutpat.
      .row
        .col-md-6.px-7
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-1.png` alt='...')
            .flex-1  
              h5 Developing websites
              p Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. 
        .col-md-6.px-7.py-3
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-2.png` alt='...')
            .flex-1  
              h5 Design concept
              p Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. 
  
        .col-md-6.px-7.py-3
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-2.png` alt='...')
            .flex-1  
              h5 Design concept
              p Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. 

        .col-md-6.px-7.py-3
          .d-flex.align-items-start
            img.me-4(src=`${CWD}assets/img/gallery/icon-1.png` alt='...')
            .flex-1  
              h5 Design concept
              p Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. 
      .row.px-lg-7 
        .col-12.py-3
          h5.fw-bold.fs-3.fs-lg-4.lh-sm The best design for your
            br
            |studio website

        .col-md-4.mb-5.mb-md-0
          .card.card-span.shadow.h-100.pt-4
            .card-body
              .px-2
                h3 Audit
                p Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa.Ac aliquam ac volutpat, viverra magna risus.  
            .card-footer.bg-white.py-3
              a(href='#!') Experienced team
        .col-md-4.mb-5.mb-md-0  
          .card.card-span.shadow.h-100.pt-4
            .card-body
              .px-2
                h3 Team work
                p Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa.Ac aliquam ac volutpat, viverra magna risus.  
            .card-footer.bg-white.py-3
              a(href='#!') Experienced team    
        .col-md-4.mb-5.mb-md-0  
          .card.card-span.shadow.h-100.pt-4
            .card-body
              .px-2
                h3 Create
                p Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa.Ac aliquam ac volutpat, viverra magna risus.  
            .card-footer.bg-white.py-3
              a(href='#!') Experienced team    